.loginContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  gap: 32px;
  align-items: center;
}

.logo {
  position: relative;
  bottom: 8px;
  right: 22px;
}
