# Build
bin/
obj/
.vs/
*.user
*.suo
*.userosscache

# Configurações sensíveis
appsettings*.json
*.db

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências
node_modules/
dist/
dist-ssr/

# Variáveis de ambiente
.env
.env.*
*.log