@use '../../styles/_theme' as *;

.footer {
    background-color: $color-brand-50;
    border-radius: $radius-xl;
    padding: $spacing-xxl;
    color: $color-neutral-100;
    margin: 0 1rem;
    
    &__container {
        max-width: 1348px;
        margin: 0 auto;
    }
    
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-lg;
    }

    &__logo {
        width: 10.4375rem;
        height: auto;
    }

    &__social {
        display: flex;
        gap: $spacing-lg;
    
      a {
        display: inline-flex;
        &:hover {
            opacity: 0.7;
        }
      }
    }

    &__divider {
      border: 0;
      height: 1px;
      background-color: $color-neutral-100;
      margin: 1.5rem 0;
    }

    &__links a,
    &__bottom span {
        font-family: var(--font-family-utility);
        font-size: $fontSize-footer-sm;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        margin-top: $spacing-lg;

        a {
            position: relative;
            padding: 0 1.0313rem;
            color: inherit;
            text-align: center;
            line-height: 1rem;
            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }


    @media (min-width: 1024px) {
        &__top {
            flex-direction: row;
            justify-content: space-between;
        }
        
        &__bottom {
            flex-direction: row;
            justify-content: space-between;
        }

        &__links {
            flex-direction: row;
            gap: 0;
            margin-top: 0;
            
            a + a::before {
                content: '•';
                position: absolute;
                left: -0.125rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}





