.bgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/grafismo.png");
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  padding-top: 8%;
  padding-left: 4%;
  gap: 6%;
}

.boxContainer h2 {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  line-height: 7rem;
}

.desktopMobilePic {
  width: 100%;
  max-width: 58rem;
  height: auto;
}

@media (max-width: 1368px) {
  .bgContainer {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 100vh;
    padding: 2rem;
    flex-direction: column;
  }
  
  .boxContainer {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
  }
  
  .boxContainer h2 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
    padding: 2rem;
  }

  .boxContainer img {
    justify-content: center;
  }
  
  .desktopMobilePic {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}