# Backend
backend/__pycache__
backend/**/__pycache__
backend/venv
backend/.env
backend/*.db
backend/*.db-journal

# Frontend
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.production

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db