################################################################################
# database (using Postgres)
################################################################################
POSTGRES_DB=timeseries_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/timeseries_db