POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dynamox
POSTGRES_PORT=5432

NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/dynamox
JWT_SECRET=change_me