annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.5.20
click==8.4.1
fastapi==0.136.3
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.17
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.0.3
SQLAlchemy==2.0.50
starlette==1.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.48.0
