@import '../Variables.css';

.container {
  margin: 1.5rem;
  border: var(--border);
  border-radius: .25rem;
}

.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 1.25rem;
  font-weight: 500;
}

.chart {
  padding: 1rem 0;
  border-top: var(--border);
}