{
  "arrowParens": "avoid",
  "editor.formatOnSave": true,
  "endOfLine": "lf",
  "printWidth": 180,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 1,
  "trailingComma": "none",
  "useTabs": true
}