.contactBox {
  background: #263252;
  height: 50vh;
  padding-top: 3%;
}

.contactFormBox {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerBox {
  height: 100%;
}

.containerBox h2 {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.containerBox h3 {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2%;
}

.containerBox button {
  margin-top: 3%;
  margin-left: 42.5%;
  width: 15%;
}

.contactInput {
  width: 35%;
  height: 19%;
  background-color: #F4F7FC;
  border: 1px solid #9EA0A5;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  color: #000000;
  box-sizing: border-box;
}

.alertInfo {
  position: fixed;
  top: 3%;
  left: 20%;
  width: 60%;
}

@media (min-width: 320px) and (max-width:480px) {
  .containerBox {
    padding-top: 5%;
  }

  .containerBox h2 {
    font-size: 1.4rem;
  }

  .containerBox h3 {
    font-size: 1rem;
  }

  .contactInput {
    width: 100%;
  }

  .containerBox button {
    margin-top: 10%;
    margin-left: 32.5%;
    width: 35%;
  }

  .contactFormBox {
    margin-top: 5%;
  }

  .alertInfo {
    left: 5%;
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .containerBox {
    padding-top: 3%;
  }

  .containerBox h2 {
    font-size: 1.4rem;
  }

  .containerBox h3 {
    font-size: 1rem;
  }

  .contactInput {
    width: 80%;
  }

  .containerBox button {
    margin-top: 5%;
    margin-left: 32.5%;
    width: 35%;
  }

  .contactFormBox {
    margin-top: 3%;
  }

  .alertInfo {
    left: 5%;
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contactInput {
    width: 45%;
  }
}