.sensors-section {
  grid-column: 2;
  padding: 100px 0px;
}

.sensors-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sensors-content h2 { 
  color: #37383D;
  text-align: center;
}

.sensors-content p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}

.sensors-content button {
  background-color: #263252;
}

.sensors-content button:hover {
  background-color: #202a44;
  cursor: pointer;
}

.sensors-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.sensors-image img {
  width: 270px;
}

.sensors-image .card-image {
  display: grid;
  gap: 20px;
  padding-top: 20px;
}

.sensors-image .card-image p {
  font-size: 40px;
  font-weight: 700;
  color: #5D7A8C;
}

@media (max-width: 900px) {
  .sensors-section {
    padding-top: 50px;
  }
}