PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/time-series-api
KAFKA_ENABLED=false
KAFKA_CLIENT_ID=time-series-api
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_TIME_SERIES_CREATED=time-series.created
KAFKA_TOPIC_TIME_SERIES_DELETED=time-series.deleted