.dynapredicBox {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url("../../images/grafismo.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 0 4vw;
  gap: 5%;
  justify-content: center;
}

.desktopAndMobileImg {
  width: 50%;
  height: 50%;
  margin-top: 13%;
}

.dynapredicImg {
  width: 25%;
  margin-left: 1.1%;
}

.dynapredicSolution {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-right: 0%;
  padding-top: 18%;
  gap: 2%;
}

.dynapredicSolution h2 {
  font-size: 5rem;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width:480px) {
  .dynapredicBox {
    background: #263252;
    flex-direction: column;
    padding: 5vh 4vw;
  }

  .desktopAndMobileImg {
    width: 100%;
    height: 37%;
    margin-top: 30%;
  }

  .dynapredicSolution {
    height: 20%;
    width: 100%;
    padding-top: 3%;
  }

  .dynapredicSolution h2 {
    font-size: 3rem;
    text-align: center;
  }

  .dynapredicImg {
    width: 21%;
    align-self: center;
  }
}