#ChartItemDyna {
    border: solid 2px #f3f5f6;
    margin: 15px 0px;
    .titleChart {
        border-bottom: solid 2px #f3f5f6;
        font-size: 14px;
        font-weight: 600;
        padding: 15px;
        text-align: left;
    }
}