.Perishable_product_container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    margin: 2rem 2rem 3rem 2rem;    
}

.Perishable_product_legend {
    font-weight: bolder;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.Perishable_product_option {
    height: 3rem;
    width: 40%;
}

.Perishable_product_input_label {
    padding-left: 0.5rem;
}

.Invalid_dates {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0;
}