.buttonLink {
  display: flex;
  gap: 8px;
}
.buttonLink span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #e0d8d4;
  border-radius: 100px;
  width: 24px;
  height: 24px;
}

.footer {
  background-color: transparent;
  color: white;
  font-size: 12px;
}
