body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  padding: 1rem;
  flex-wrap: wrap;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.machine-card {
  width: 50%;
  max-width: 30px;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Desktop: deixa os cards lado a lado */
@media (min-width: 768px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .machine-card {
    width: 350px;
    text-align: left;
  }
}


/* Tabela */
.table-container {
  overflow-x: auto;
  width: 100%;
}

.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
