bcrypt==5.0.0
fastapi==0.121.0
passlib==1.7.4
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
SQLAlchemy==2.0.44
uvicorn==0.38.0
sqlalchemy-utils==0.42.0
alembic==1.17.1
psycopg2-binary==2.9.11
fastapi-pagination==0.10.5
