@import './fonts.css';
@import 'tailwindcss';

@theme {
  --color-primary: #692746;
  --color-gray-dy: #757575;
}

:root {
  max-width: 1516px;
  font-family: var(--font-poppins);
  line-height: 1.5;
  font-weight: 400;

  color: #454444;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
