body {
  box-sizing: border-box;

  width: 100vw;
  min-height: 100vh;

  margin: 0;

  display: flex;

  place-items: center;
  justify-content: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

#login form {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

#login div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login input {
  padding: 0.25rem 0;
}

#login h2 {
  padding: 0;
  margin: 1rem;
}

#controls {
  display: flex;
  padding-top: 1rem;
  border-top: 1px gray solid;
  justify-content: space-between;
}

#controls button {
  padding: 0.5rem 1rem;
}

.text-danger {
  border-color: red
}
