#createMachine {
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem
}

#createMachine h2{
  text-align: center;
  margin: 0;
}

#buttonBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 1;
}