div h1 {
  text-align: center;
}

#paginator-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid royalblue;
  padding: 1rem;
}

#paginator-line span:hover {
  cursor: pointer;
}

#paginator-item-box {
  display: flex;
  gap: 1rem;
}

.muted {
  color: gray;
}
