#SubtitleBlockDyna {
    width: 20%;
    border-right: solid 2px #f3f5f6;
    margin: 10px;
    text-align: center;
    vertical-align: text-top;

    .iconSubtitle {
        padding-right: 10px;
        top: 5px;
        position: relative;
    }
}