.form-login {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  font-size: 1.5rem;
}

.form-email,
.form-password {
  font-size: 1.5rem;
}

.form-login button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 15rem;
  height: 2rem;
  border-width: 1px;
  color: #fff;
  border-color: #0b0e07;
  border-radius: 4px;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  text-shadow: inset 0px 1px 0px #263666;
  background: linear-gradient(#2dabf9, #0688fa);
  cursor: pointer;
}

.form-login button:hover {
  background: linear-gradient(#0688fa, #2dabf9);
}