@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
