* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.title {
  font-weight: 700;
  color: #FFFF;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

button {
  color: #FFFF;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 45px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

.grid-pattern {
  display: grid;
  grid-template: auto / 1fr 1200px 1fr;
}

@media (max-width: 1350px) {
  h1 {
    font-size: 70px;
  }

  .grid-pattern {
    grid-template: auto / 1fr 90% 1fr;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }
  
  .grid-pattern {
    grid-template: auto / 1fr 90% 1fr;
  }
}