.background {
  display: flex;
  background-image: url(../../assets/grafismo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  justify-content: space-between;
}

.divPredict {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  margin-left: 6rem;
}

.title {
  color: white;
  font-size: 80px;
  line-height: 5.87rem;
  font-weight: 700;
  margin: 0;
}

.logoPredict {
  margin-top: 31px;
  width: 10rem;
}

@media screen and (max-width: 1279px) {
  .background {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .divPredict {
    align-items: center;
    margin-top: 0;
    margin-left: 0;
  }

  .desktop {
    margin-bottom: 0;
  }

  .title {
    color: white;
    font-size: 80px;
    line-height: 5.87rem;
    font-weight: 700;
    margin: 0;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 849px) {
  .background {
  justify-content: auto;
  }

  .title {
    font-size: 60px;
  }

  .desktop {
    display: flex;
    justify-content: center;
  }

  .desktop img {
    width: 90%;
  }
}
