services:
  db:
    image: postgres:16
    container_name: dynapredict_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dynapredict_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: dynapredict_backend
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://user:password@db:5432/dynapredict_db
      SECRET_KEY: 940149c7508f64886a05b4fdaa24cea1c2611778b0cbc78e92f21cab908a3ed6
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 120
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always

volumes:
  pgdata:
