.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 120px;
  margin: 0 auto 1rem;
}

.title {
  color: var(--cor-primaria);
  font-weight: 700;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 800px;
  align-self: center;
  color: var(--cor-texto);
}
