.header {
  text-align: center;
  padding: 2rem 1rem;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 120px;
  margin: 0 auto 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--cor-texto);
  line-height: normal;
}

.title {
  color: var(--cor-primaria);
  font-weight: 700;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 100%;
  max-width: 800px;
  align-self: center;
  color: var(--cor-texto);
}
