header {
  height: 120px;
  background-color: #263252;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.contain-header {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.logo {
  height: 65px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav ul li {
  color: #FFFF;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
}

nav ul li:hover {
  color: rgb(209, 209, 209);
}

@media (max-width: 900px) {
  img.logo {
    height: 50px;
  }
}

@media (max-width: 580px) {
  img.logo {
    height: 40px;
  }

  nav.menu ul {
    flex-direction: column;
    gap: 10px;
  }
}