.sensors_container {
    background: hwb(218 96% 1%);
    height: auto;
    font-family: 'Raleway', sans-serif;
    padding-top: 95px;
    text-align: center;
    width: 100%;
}

.sensors_content_subtitle {
    color: #37383D;
    font-weight: 700;
    font-size: 40px;
}

.sensors_content_text {  
    color: #454545;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    margin-left: 130px;
    margin-right: 130px;
}

.sensors_content_button {
    background-color: #263252;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 183px;
}

.sensors_content_link {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.sensors_types {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 175.33px;
    padding-top: 37px;
}

.sensors_types_item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sensors_img {
    height: 297.84px;
}

.sensors_name {
    align-self: center;
    color: #5D7A8C;
    height: 59.29px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    overflow-x: hidden;
}

@media (max-width: 1100px) {
    .types_sensors {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .sensors_content_subtitle {
        font-size: 35px;
    }
}